

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../assets/forrest_bg.jpg");
    }

.container{
    background: rgba(209, 184, 209, 0.7);
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 80px;
    height: 500px;
    text-align: center;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
}


.heading{
    padding-top: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);

}

.inputbox{
    width: 400px ;
    height: 30px;
    border-radius: 10px;
}


.question1{
    margin-left: 30px;
    margin-right: 30px;
}

.question2{
    margin: auto;
    text-align: left;
    width: 400px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.imojis{
    font-size:xx-large;
}

.goodorbad{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.submitbutton{
    color: white;
    background-color: rgb(0, 102, 255);
    padding: 10px;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.thumbs{
    padding: 5px;
    height: 30px;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  [type=radio] + img {
    cursor: pointer;
  }
  
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }

  [type=radio] + span {
    cursor:pointer;
  }
  
  [type=radio]:checked + span {
    outline: 2px solid #0f0;
  }

  .star{
    font-size: xx-large;
    
  }
  .rated{
    color: orange;
  }